<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	
	<!-- Permissions pour MOKO Permissions -->
	<key>NSMicrophoneUsageDescription</key>
	<string>Cette application a besoin d'accéder au microphone pour enregistrer l'audio en mode veille.</string>
	
	<key>NSCameraUsageDescription</key>
	<string>Cette application a besoin d'accéder à la caméra pour enregistrer des vidéos en mode veille.</string>
	
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cette application a besoin d'accéder à votre localisation pour détecter les urgences et envoyer votre position.</string>
	
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cette application a besoin d'accéder à votre localisation en permanence pour détecter les urgences même en arrière-plan.</string>
</dict>
</plist>
